<div class="card-business">
  <% if business.avatar.attached? %>
    <%= cl_image_tag business.avatar.key %>
  <% else %>
    <img src="https://source.unsplash.com/random/?store" />
  <% end %>
    <div class="card-business-infos">
      <h2><%= link_to business.name, business_path(business) %></h2>
      <p><strong><%= business.short_bio %></strong></p>
      <p class="show-map">Show on Map</p>
    </div>
</div>
