<div class="container py-5">
  <h1>All the businesses near you!</h1>
</div>

<div class="container px-10">
  <div class="cards">
    <% @businesses.each do |business| %>
      <div class="card-business">
        <p><%= link_to business.name, business_path(business) %></p>
        <p><%= business.short_bio %></p>
      </div>
    <% end %>
  </div>
</div>


  <div id="index_map" style="width: 100%; height: 50vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
