<div class="container">
  <h1>All the businesses near you!</h1>
</div>

<div class="container px-10">
  <ul>
    <% @businesses.each do |business| %>
      <li><%= business.name %></li>
      <li><%= business.bio %></li>
    <% end %>
  </ul>
</div>