<h1><%= @bookmarks %></h1>

<%# current_user.bookmarks.each do |bookmark|
if bookmark.business = Business.find([params[:id])
put bookmarked icon (hopefully a button with js applied to trigger event listener which adds a bookmark to the user)
else 
put empty bookmark
end  %>
