<div class="container mt-5">
  <div id="list">
    <p class="text-center"><strong>Bookmarked businesses</strong></p>
    <div class="row flex-row flex-nowrap" id="list-items">
      <% @businesses.each do |business| %>
        <div class="col-3">
          <%= render partial: 'businesses/business_card', locals: { business: business } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <p class="text-center"><strong>Recent Posts from your bookmarked businesses</strong></p>
      <hr>
      <div class="posts">
        <% if @posts %>
          <div class="container">
            <% @posts.each do |post| %>
              <div class="post shadow-sm bg-white">
                <%= render partial: 'posts/post', locals: { post: post } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
