<div class="container px-10">
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
        <div class="bookmark-cards">
          <p><%= link_to bookmark.name, business_path(bookmark) %></p>
          <p><%= bookmark.address %></p>
        </div>
      <% end %>
  </div>
</div>
