// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$inner-blue: #4264FB;
$inner-red: #FE5F55;
$inner-green: #00AD7C;
$inner-charcoal: #373F51;
$inner-grey: #e3e3e8;
$inner-white: #F7F9f7;
