.filter-layer {
  z-index: 1000;
  left: 400px;
  padding: 16px;
  // border-radius: 50px;
  height: 150px;
  top: 16px;
  width: 70%;
  text-align: center;
  box-shadow: 1px, 1px, 40px, rgba(0,0,0,0.3);
  // position: sticky;
}
