.filter-layer {
  position: absolute;
  z-index: 1000;
  padding: 24px 12px 0px 24px;
  top: 8px;
  margin-right: 32px;
  margin-left: 384px;
  height: 100px;
  text-align: left;
  font-family: "Poppins", "sans serif";
  box-shadow: 1px, 1px, 40px, rgba(0,0,0,0.3);
  // overflow-y: scroll;
  // position: sticky;
}

.categories {


}
