.filter-layer {
  z-index: 1000;
  padding: 24px 12px 0px 24px;
  top: 8px;
  margin-right: 32px;
  margin-left: 384px;
  width: auto;
  text-align: center;
  font-family: "Poppins", "sans serif";
  box-shadow: 1px, 1px, 40px, rgba(0,0,0,0.3);
}

.businesses-index-header {
  font-size: 21px;
}
