// Specific CSS for your home-page
// #map {
//   position: relative;
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

.container-home {
  position: absolute;
  width: 100%;
  top: 40%;
  padding-left: 20%;
  padding-right: 20%;

  h1 {
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 16px;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .home-searchbar {
    width: 100%;
    // position: absolute;
    // top: 52%;
    // left: 20%;
    // right: 20%;
  }
}

.map-overlay {
  background-color: #ffffff87;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}


