<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="text-center">Your Community Events</h2>
      <hr>
      <div>
        <% @events.each do |event| %>
          <div class="card-events my-4">
            <div>
             <% if post.post_image.attached?  %>
              <%= cl_image_tag post.post_image.key, class: "img-fluid" %>
            <% else %>
              <img class="img-fluid" src="https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Image">
            <% end %>
            </div>
            <div class="card-body">
              <h3 class="group"><p><%= link_to event.event_name, business_event_path(event.business, event) %></p></h3>


              <p><%= link_to "Edit event", edit_business_event_path(event.business, event) %></p>
              <p><%= link_to "Delete event", business_event_path(event.business, event), method: :delete %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

