<div class="card-events">
  <div class="wrapper">
    <a href="#" class="meetup">Code & Coffee & Cocktails</a>
    <h3 class="group">Girl Develop It Dayton</h3>
    <p class="details">
      <span class="row">
        <i class="material-icons md-36 icon">event</i>
        <span class="row-item">
        <time>Tue Aug 2 at 5:30PM</time>
        </span>
      </span>
      <span class="row">
        <i class="material-icons md-36 icon">room</i>
        <span class="row-item">
        <strong>Proto BuildBar</strong>
        <br>534 E 1st St
        </span>
      </span>
    </p>
  </div>
</div>