<div>
  <h2 class="text-center">Update a post</h2>
    <p class="text-center">----------</p>
      <%= simple_form_for([@business, @post]) do |f| %>
        <div class="form-inputs">
          <%= f.input :content %>
          <%= f.input :post_image, as: :file %>
        </div>
        <div class="form-actions mb-2">
          <%= f.button :submit, "Update Post", class: "btn btn-flat", remote: true %>
        </div>
      <hr>
    <% end %>
</div>