<div class="d-flex mt-2">
<!--   <div class="container-community"> -->
    <div class="posts">
      <h2 class="text-center">Your Community Feed</h2>
      <hr>
      <div id="posts">
        <% @posts.each do |post| %>
          <div class="post shadow-sm bg-white">
             <%= render partial: 'posts/post', locals: { post: post } %>
           </div>
        <% end %>
      </div>
    </div>
    <div id="index_map" style="width: 100%; height: 100vh; position: sticky; top: 56px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<!--   </div> -->
</div>


