.banner-profile {
  background-size: cover;
  background-position: center;
  height: 24vh;
  color: #eee;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  margin: 0 -16px 0 -16px;
  position: relative;
  border: white 1px solid;
}
