.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 0px 12px 0 12px;
}

.card-business {
  background: transparent;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  box-shadow: 0 0 15px rgba(55, 63, 81,0.1);
}