.events-container {
  margin-top: 5vh;
  width: 68vw;
  display: block;
  position: absolute;
  overflow: scroll;
  height: 90%;
  z-index: 100;
  border-radius: 24px;
  border: 1px solid rbga($inner-green,0.6);
}

.banner-event {
  background-color: $inner-green;
  height: 230px;
  margin: 0 -16px 0 -16px;
  border-radius: 8px;
  position: relative;

  .btn.btn-ghost {
    position: absolute;
    right: 3%;
    bottom: 8%;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba($inner-white, 0.95);
    margin: 1px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    color: rgba($inner-white, 0.85);
  }
  h4 {
    font-size: 18px;
    color: rgba($inner-white, 0.85);
    font-weight: 500;
    margin: 0;
  }

  small {
    color: rgba($inner-white, 0.9);
  }

  .event-header {
    padding-left: 32px;
    padding-top: 32px;
    position: absolute;
  }

  .event-host {
    padding-left: 16px;
    margin-top: 28px;

    .media {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;

      .business-avatar{
        width: 80px !important;
        height: 80px !important;
        padding: 2px;
        border: 2px solid #f4f4f4;
      }
    }
    .host-details {
      margin-top: 4px;
    }
  }
}

.event-body {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  .event-details {
    margin: 24px;

    h4 {
      margin: 0 0 12px 0;
      color: rgba(black, 0.5);
    }
    p {
      font-size: 18px;
    }
    .event-map {
        margin-top: 24px;
      }
  }
  .event-image {
    margin-top: 18px;
    // box-shadow: 0 0 12px rgba(0,0,0,0.1);
    img {
      width: 100%;
      height: 360px;
      border-radius: 12px;
      object-fit: cover;
    }
  }
  .event-side {

    .event-data {
      margin: 12px;
      padding: 18px;
      width: 300px;
      margin-bottom: 18px;
      background-color: white;
      border: 1px solid rgba($inner-green, 0.5);
      // box-shadow: 0 0 12px rgba(0,0,0,0.1);

      border-radius: 12px;

      h4 {
        font-size: 17px;
        color: rgba(black, 0.5);
        font-weight: 300;
        padding-left: 16px;
        margin: 1;
      }

      p {
        color: rgba(black, 0.5);
      }
    }

    .event-map {
      padding: 12px;
    }

  }
}



