#list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#list-items {
  margin-bottom: 8px;
  width: 100%;
  overflow: auto;
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
}


