.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup p {
  margin: 0;
}

.mapboxgl-popup h2 {
  margin-top: 8px;
}

.mapboxgl-popup-content {
  border-radius: 20px;
}
