.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Public Sans', sans-serif;
}

.mapboxgl-popup p {
  margin: 0;
}

.mapboxgl-popup h2 {
  margin-top: 8px;
}

.mapboxgl-popup-content {
  border-radius: 20px;
}

.info_window_business {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
}


.info_window_address {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.info_window_address {
  font-family: "Poppins", sans-serif;
}
