.navbar-lewagon {
  justify-content: space-between;
  background: $inner-white;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: "Poppins", "sans-serif";
  font-size: 20px;
}

.nav-item {
  font-family: "Poppins", "sans-serif";
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-home {
  justify-content: space-between;
  background: transparent;
  border: none;
  border-radius: 0;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

