// .hero {
//   padding: 6.25rem 0px !important;
//   margin: 0px !important;
// }

.posts{
  padding: 24px 12px 0 10px;
  width: 424px;
  margin-bottom: 12px;
  height: 100vh;
  display: block;
  position: absolute;
  overflow: auto;
  background: rgba($inner-white, 0.6);
  z-index: 250;
}

.post {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;

  .post-heading {
    padding: 16px 16px 0px 16px;
    margin: 0
  }

  .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    background: #b5b6b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .float-right {
    .dropdown-menu{
      position: relative;
      left: 13px !important;
    }
    a:hover{
      background: #f4f4f4 !important;
    }

    a.dropdown-item {
      display: block;
      width: 100%;
      padding: 4px 0px 4px 10px;
      clear: both;
      font-weight: 400;
      font-size: 14px !important;
      color: #848484;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
    }
  }
}

// MEDIA
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;

  .mr-3 {
    margin-right: 1rem !important;
  }

  img{
    width: 60px !important;
    height: 60px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
  }
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem !important;

  p{
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
  }

  small span{
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
  }
}


// POST
.post .post-item {
    position: relative;
    display: block;

    img {

    }
    .post-text {
      padding-left: 12px;
      padding-right: 4px;
    }
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.fw {
  width: 100% !important;
  height: auto;
}


// BASE
.post-base{
  border-bottom: 2px solid #f4f4f4;

  ul {
    margin: 10px 0px 10px 15px!important;
    padding: 10px !important;
    font-size: 0px;
    display: inline-block;
  }
  li {
    list-style: none;
    margin: 0px 0px 0px -8px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block;

    a{
      margin: 0px !important;
      padding: 0px !important;

      i{
       position: relative;
       top: 4px;
       font-size: 16px;
       color: #8d8d8d;
       margin-right: 15px;
      }

      span{
       font-size: 14px;
       color: #8d8d8d;
       margin-left: 20px;
       position: relative;
       top: 5px;
      }

      em{
       font-size: 14px;
       color: #8d8d8d;
       position: relative;
       top: 3px;
      }

      img{
        width: 25px;
        height: 25px;
        margin: 0px !important;
        border: 2px solid #fff;
      }

    }
  }
}

// comments
.post-comments{
  padding: 10px 40px 20px 40px !important;
  font-size: 0px;
  text-align: center;
  display: inline-block;

  .comment-avatar img {
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
  }
  .comment-body {
    overflow: auto;
  }
}

// .search {
//  position: relative;
//  right: -60px;
//  top: -40px;
//  margin-bottom: -40px;
//  border: 2px solid #f4f4f4;
//  width: 100%;
//  overflow: hidden;
// }
// .search input[type="text"] {
//  background-color: #fff;
//  line-height: 10px;
//  padding: 15px 60px 20px 10px;
//  border: none;
//  border-radius: 4px;
//  width: 350px;
//  font-size: 14px;
//  color: #8d8d8d;
//  height: inherit;
//  font-weight: 700;
// }
// .search button {
//   position: absolute;
//   right: 0;
//   top: 0px;
//   border: none;
//   background-color: transparent;
//   color: #bbbbbb;
//   padding: 15px 25px;
//   cursor: pointer;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }
// .search button i {
//  font-size: 20px;
//  line-height: 30px;
//  display: block;
// }
