// profile top
.profile-top {

}

.profile-image {

}

.business-image img {
  background-size: cover;
  height: 100%;
  width: 360px;
  border-radius: 4px;
}

.owner-image img {
  background-size: cover;
  height: 100%;
  width: 360px;
  border-radius: 4px;
}
