
.profile-top {

  .profile-banner {
    position: relative;

    .bookmark-button {
      position: absolute;
      top: 5%;
      right: 0;
    }
    .banner-profile {
      background-size: cover;
      background-position: center;
      height: 28vh;
      color: #eee;
      border-radius: 4px;
      padding: 0;
      margin: 0 -16px 0 -16px;
      border: white 1px solid;
      box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }

    .media {
      position: absolute;
      top: 70%;
      right: 5%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;

      .profile-avatar{
        width: 160px !important;
        height: 160px !important;
        background-size: cover;
        padding: 0px;
        border: 2px solid #f4f4f4;
      }
    }
  }

  .profile-header {
    padding: 16px 16px 0 0;
    margin-left: 32px;

    h1 {
      font-size: 40px;
    }
    .bookmark {
      color: $inner-green;
    }
    .menu {
      h2 {
        font-size: 18px;
      }

    }
  }

  .business-name {
    margin-left: 0;

    h3 {
      font-size: 20px;
      color: rgba(black, 0.5);
      font-weight: 300;
    }
  }

  .profile-menu {
    margin-top: 16px;
  }
}

.profile-body{
  padding: 0px 32px 32px 32px;
  p {
    font-size: 18px;
  }

  .profile-description {
    padding: 12px;
    margin-bottom: 12px;
  }

  .profile-images {
    .profile-image {
      margin: 8px;
    }
  }

  .owner {
    margin-top: 24px;
    .owner-image{

    }
    .owner-content {
      padding: 16px;
    }
  }

  .business-data {
    margin: 18px;
  }

  .create-post {
    h2 {
      color: rgba(black, 0.7);
    }
  }

  .post-feed {
    h1 {
      color: rgba(black, 0.7);
    }
  }
  .messages {
    h2 {
      color: rgba(black, 0.7);
    }
  }

  .events-feed {
    h1 {
      color: rgba(black, 0.7);
    }
  }
}



// // profile top
// .profile-top {

// }

// .profile-image {

// }

// .business-image img {
//   background-size: cover;
//   height: 100%;
//   width: 360px;
//   border-radius: 4px;
// }

// .owner-image img {
//   background-size: cover;
//   height: 100%;
//   width: 360px;
//   border-radius: 4px;
// }
