body {
  font-family: "Public Sans";
}

* {
  box-sizing: border-box;
}

.example input {
  padding: 10px;
  padding-left: 25px;
  font-size: 17px;
  border: 0px solid grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", "sans-serif";
}

.example .button_search {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgba($inner-blue, 0.9);
  color: white;
  font-size: 18px;
  border: 0px solid grey;
  border-top-right-radius: 50px;
  border-bottom-right-radius:50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  cursor: pointer;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", "sans-serif";
}

form.example button:hover {
  background: rgba($inner-blue, 1);
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

