body {
  font-family: "Public Sans";
}

* {
  box-sizing: border-box;
}

form.example input {
  padding: 10px;
  padding-left: 10px;
  font-size: 17px;
  border: 0px solid grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-left: none;
  cursor: pointer;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
