
// Base styles
body {
  margin: 0;
  font-size: 16px;
  //  background: $inner-grey;
  padding-bottom: 100px;
  height: 100vh;
}

h1, h2, h3 {
  font-weight: 500;
  color: rgba(black, 0.8);
  margin: 0;
}

h4 {
  margin: 8px;
  color: rgba(black, 0.8);
  font-size: 20px;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-weight: lighter;
  color: rgba(black, 0.8);
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  outline: none;
  color: #266778;

  &:hover{
   text-decoration: none;
   color: rgba(#00AD7C, 0.8);
   opacity: 1;
  }
}

.text-center {
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
